.navbar-toggler:focus {
  outline: none;
}
.btn-primary {
  background-color: #800000 !important;
  border: #800000 2px solid !important;
  border-radius: 8px;
  box-shadow: none !important;
}
.btn-primary:hover {
  color: #800000 !important;
  background-color: white !important;
  border: #800000 2px solid !important;
}
.navbar {
  transition: top 0.5s ease;
}
.navbar-hide {
  top: -108px;
}
.parallax-img {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}
.footer-link {
  color: #777777;
  font-size: small;
}
.footer-link:hover {
  color: #ffffff;
}
.recommend-img {
  width: 158px;
  padding: 4px;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
.product-img {
  max-width: 400px;
}