{% extends 'base.html' %}

{% block title %}Согласие | Camelia Flowers{% endblock title %}

{% block main %}
<div class="container py-5" style="margin-top: 108px;">
    <h1 class="pb-3">Согласие</h1>
    <h3 class="pb-4">на обработку персональных данных</h3>
    <p>Пользователь, действуя свободно, своей волей и в своём интересе, подтверждая свою дееспособность, даёт своё
        согласие
        <strong>ИП Сафиной В.А.</strong>, ОГРНИП <strong>317169000160806</strong>, на обработку своих персональных
        данных как с использованием, так и без
        использования средств автоматизации для целей обработки входящих запросов физических лиц (пользователей) с целью
        консультирования, направления комментариев физическим лицам (пользователям); аналитики действий физического лица
        (пользователя) на сайте и функционирования сайта; выполнения обязательств по договору оферты, принятому
        пользователем на сайте. При этом:</p>

    <ol>
        <li class="py-2">Согласие предоставлено для использования моих следующих персональных данных: Фамилия, имя,
            отчество; номера
            контактных телефонов; адреса электронной почты; место работы и занимаемая должность; адрес; сведения о
            местоположении; тип, версия, язык операционной системы, браузера; тип устройства и разрешение его экрана;
            страницы,
            открываемые пользователем; ip-адрес</li>

        <li class="py-2">Обработка моих персональных данных может включать следующие действия: сбор, запись,
            систематизацию, накопление,
            хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение,
            предоставление,
            доступ), обезличивание, блокирование, удаление, уничтожение.</li>
    </ol>

    <p>Настоящее согласие может быть отозвано путём направления субъектом персональных данных (пользователем) или его
        представителем письменного заявления <strong>ИП Сафиной В.А.</strong>, ОГРНИП <strong>317169000160806</strong>, по адресу электронной почты:
        <strong>shop@camelia-flowers.ru.</strong> В случае отзыва субъектом персональных данных (пользователем) согласия на обработку
        персональных данных <strong>ИП Сафиной В.А.</strong>, ОГРНИП <strong>317169000160806</strong>, вправе продолжить обработку таких персональных
        данных в
        случаях, предусмотренных пунктами 2-11 части 1 статьи 6, пунктами 2-10 части 2 статьи 10, части 2 статьи 11
        Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных».</p>

    <p>Настоящее согласие предоставляется на неопределённый срок и действует весь период обработки персональных данных.
        Запросы относительно персональных данных могут быть направлены по электронному адресу: <strong>shop@camelia-flowers.ru</strong>.
    </p>
</div>
{% endblock main %}