{% extends 'base.html' %}

{% block title %}Условия доставки | Camelia Flowers{% endblock title %}

{% block main %}
<div class="container py-5" style="margin-top: 108px;">
    <h1 class="pb-4">Условия доставки</h1>
    <p>Доставка осуществляется Почтой России, и сторонними службами доставки по всему миру, до пункта выдачи заказов
        либо до двери покупателя.</p>
    <h2 class="py-2">Стоимость доставки</h2>
    <p>Расчет стоимости и срока доставки Вашего заказа производится в режиме реального времени на странице оформления
        заказа. Расчет производится исходя из пункта назначения, габаритов и расчётного веса товара и выбранного вида
        доставки (курьерская доставка или получение в ПВЗ). </p>
</div>
{% endblock main %}