{% extends 'base.html' %}

{% block title %}Как оформить заказ | Camelia Flowers{% endblock title %}

{% block main %}
<div class="container py-5" style="margin-top: 108px;">
    <h1 class="pb-4">Как оформить заказ</h1>
    <ul>
        <li class="py-2">
            Выберите товары, нажимая кнопку «В корзину»
        </li>
        <li class="py-2">
            Перейдите в корзину, проверьте товары и их количество
        </li>
        <li class="py-2">
            Нажмите кнопку «Оформить заказ» — если Вы зарегистрированы на сайте, то введите логин и пароль для входа, если
            нет, то введите данные о себе: ФИО, телефон и e-mail для связи
        </li>
        <li class="py-2">
            Выберите способ доставки и оплаты
        </li>
        <li class="py-2">
            После оформления заказа на Ваш электронный адрес придет уведомление с подтверждением оформления заказа, в
            котором будут указаны: дата оформления заказа, № заказа, перечень заказанных товаров, сумма заказа и Ваши личные
            данные. В случае отстутсвия подтверждения, Ваш заказ был оформлен неправильно. Чтобы убедиться, что Ваш заказ
            принят, проверяйте, пожалуйста, Ваш e-mail
        </li>
    </ul>
</div>
{% endblock main %}