{% extends 'base.html' %}

{% block title %}Публичная оферта | Camelia Flowers{% endblock title %}

{% block main %}
<div class="container py-5" style="margin-top: 108px;">
    <h1 class="pb-4">Публичная оферта</h1>
    <p>Интернет-магазин Camelia Flowers, размещенный в сети интернет по адресу <a class="text-dark"
            style="text-decoration: underline;" href="https://camelia-flowers.ru">https://camelia-flowers.ru</a>, ИП
        Сафина
        В.A. именуемый в дальнейшем «Продавец», публикует оферту о продаже товара дистанционным способом и определяет
        условия приобретения товаров через интернет-магазин Camelia Flowers. </p>

    <h3 class="my-4">1. Общие положения</h3>
    <p>1.1. Настоящее соглашение является публичной офертой (в соответствии со статьей 435 и частью 2 статьи 437
        Гражданского кодекса РФ) и содержит все существенные условия организации купли-продажи дистанционным способом,
        т. е.
        через интернет-магазин gappo-kzn.ru. Продавец оставляет за собой право вносить изменения в настоящее Соглашение.
    </p>

    <p>1.2. Акцептом настоящей оферты (договора) — оформление Покупателем заказа на Товар в соответствии с условиями
        настоящей оферты.</p>

    <h3 class="my-4">2. Термины и определения.</h3>
    <p>2.1. «Товар» — объект соглашения сторон, изделия в ассортименте, представленном в интернет-магазине.</p>

    <p>2.2. «Каталог» — информация о товарах, размещенная в интернет-магазине на сайте camelia-flowers.ru.</p>

    <p>2.3. «Заказ» — заявка на приобретение товара, содержащая наименование, ассортимент, количество выбранного
        Покупателем товара, оформленная в интернет-магазине.</p>

    <p>2.4. «Договор» — условия купли-продажи товара, изложенные в настоящем соглашении и принятые Покупателем.</p>

    <p>2.5. «Интернет-магазин» — сайт Продавца, предназначенный для заключения договоров розничной купли-продажи
        дистанционным способом, в соответствии со ст. 497 ГК РФ (на основании ознакомления Покупателя с предложенным
        Продавцом описанием Товара, содержащимся в Каталоге и представленным на фотоснимках посредством сети интернет,
        исключающей возможность непосредственного ознакомления Покупателя с Товаром).</p>

    <p>2.6. «Покупатель» — любое физическое или юридическое лицо, способное принять и оплатить заказанный им товар в
        порядке и на условиях, установленных настоящим Соглашением, на территории Российской Федерации.</p>

    <p>2.7. «Продавец» — ИП Сафина Венера Амировна, ИНН 160902043003, ОГРНИП 317169000160806, 420066, г.Казань, ул.
        Чистопольская, 4-120.</p>

    <h3 class="my-4">3. Предмет договора</h3>
    <p>Продавец обязуется передать в собственность Покупателю товар, а Покупатель обязуется принять и оплатить товар на
        условиях настоящего договора.</p>

    <h3 class="my-4">4. Регистрация на сайте</h3>
    <p>4.1. Заказ покупателя может быть оформлен следующими способами: оформлен Покупателем самостоятельно в
        Интернет-магазине или принят по телефону</p>

    <p>4.2. Оформить Заказ самостоятельно в Интернет-магазине могут только зарегистрированные Покупатели.</p>

    <p>4.3. Продавец не несет ответственности за точность и правильность информации, предоставляемой Покупателем при
        регистрации и оформлении заказа самостоятельно.</p>

    <p>4.4. Покупатель, зарегистрировавшийся в Интернет-магазине, получает индивидуальную идентификацию путем
        предоставления логина и пароля. Индивидуальная идентификация Покупателя позволяет избежать несанкционированных
        действий третьих лиц от имени Покупателя и открывает доступ к дополнительным сервисам. Передача Покупателем
        логина и
        пароля третьим лицам запрещена.</p>

    <p>4.5. Покупатель самостоятельно несёт ответственность за все возможные негативные последствия, в случае передачи
        логина и пароля третьим лицам.</p>

    <p>4.6. Воспользоваться скидкой постоянного покупателя можно только через Личный кабинет. Для этого необходимо
        делать
        заказы после входа на сайт под своим логином. Скидка постоянного покупателя привязана к конкретному Личному
        кабинету, т.к. рассчитывается на основе покупок, сделанных через него. В случае повторной регистрации на сайте,
        история покупок и скидка постоянного покупателя не переносятся из старого Личного кабинета в новый. Статистика
        заказов в новом Личном кабинете ведется с нуля. Вы можете пользоваться скидкой только через тот Личный кабинет,
        в
        котором она сформирована.</p>

    <h3 class="my-4">5. Оформление заказа</h3>

    <p>5.1. Покупатель вправе оформить заказ на любой товар, представленный в Каталоге интернет-магазина
        camelia-flowers.ru. Заказ может быть оформлен Покупателем следующими способами: по телефону, по электронной
        почте
        или оформлен самостоятельно в интернет-магазине на сайте.</p>

    <p>5.2. В течение одного рабочего дня после поступления заказа, Продавец подтверждает принятие заказа.</p>

    <p>5.3. Покупатель несет ответственность за правильность заполнения всех пунктов формы заказа. В случае наличия
        ошибок
        или предоставления неполных сведений в полях “ФИО” и “Адрес доставки” и «Телефон для связи», с Интернет-магазина
        полностью снимается ответственность за выполнение заказа.</p>

    <p>5.4. При отсутствии товара на складе менеджер интернет-магазина сообщает об этом Покупателю (по телефону или
        посредством электронной почты) и предлагает заменить отсутствующий товар на аналогичный.</p>

    <p>5.5. Приведенные на сайте Интернет-магазина характеристики товаров носят исключительно информационный характер и
        не
        являются «публичной офертой» определенной п.2 статьи 437 Гражданского Кодекса Российской Федерации. Внешний вид
        товара, включая цвет, могут незначительно отличаться от представленных на фотографии (свет, вспышка и т.п.). В
        случае возникновения у Покупателя вопросов, касающихся свойств и характеристик Товара, перед оформлением Заказа,
        покупатель должен обратиться к Продавцу.</p>

    <p>5.6. Продавец не несет ответственность за информацию, найденную покупателем где-либо вне сайта (реклама, отзывы,
        каталоги и др.)</p>

    <p>5.7. Указанная на сайте цена Товара может быть изменена Продавцом в одностороннем порядке до подтверждения заказа
        сотрудниками магазина.При изменении стоимости Заказа Продавец обязан сообщить об этом Покупателю посредством
        электронной почты, телефонного звонка, SMS-сообщения и др. В этом случае Покупатель имеет право отказаться от
        приобретения Товаров полностью или частично. В случае не получения от Покупателя согласия оплату Заявки по новой
        цене Заказ считается отмененным.</p>

    <h3 class="my-4">6. Конфиденциальность и защита персональной информации</h3>

    <p>6.1. При оформлении Заявки на Сайте Покупатель предоставляет следующую информацию: Фамилия, Имя, адрес
        электронной
        почты, телефон, адрес доставки.</p>

    <p>6.2. Покупатель, указывая на сайте при регистрации свои контактные данные (фамилия, имя, контактный телефон,
        e-mail
        адрес и адрес доставки), понимает, что вносимые им данные не являются персональными данными, идентифицирующими
        Покупателя на основании п.1 ст.8 Федерального Закона от 27.07.2006 N 152-ФЗ в ред. Федерального закона от
        25.07.2011
        N 261-ФЗ, предоставляются Продавцу добровольно, и в объеме, необходимом и достаточном для исполнения Продавцом
        обязательств перед Покупателем, в том числе для информирования с помощью e-mail сообщений и SMS о статусе заказа
        и других значимых коммуникаций.</p>

    <p>6.3. Продавец использует предоставленную информацию для выполнения своих обязательств перед Покупателем в
        соответствии и на основании Федерального Закона от 27.07.2006 N 152-ФЗ в ред. Федерального закона от 25.07.2011
        N 261-ФЗ.</p>

    <p>6.4. Продавец обязуется не разглашать полученную от Клиента информацию. Не считается нарушением предоставление
        Продавцом информации агентам и третьим лицам, действующим на основании договора с Продавцом, для исполнения
        обязательств перед Клиентом.</p>

    <p>6.5. Не считается нарушением обязательств разглашение информации в соответствии с обоснованными и применимыми
        требованиями закона.</p>

    <p>6.6. Продавец не несет ответственности за сведения, предоставленные Покупателем на Сайте в общедоступной форме.
    </p>

    <p>6.7. Принимая условия настоящего соглашения, Покупатель дает согласие на обработку его персональных данных для
        целей, связанных с исполнением настоящего договора, в соответствии с Федеральным законом от 27 июля 2006 г. №
        152-ФЗ «О персональных данных».</p>


    <h3 class="my-4">7. Доставка, оплата и приемка товара.</h3>

    <p>7.1.Срок доставки заказов от 2 дней до 4 недель в зависимости от выбранного Покупателем способа доставки и региона.
    Продавец не несет ответственности за изменение сроков доставки в случае обстоятельств, которые он не мог ни
    предвидеть, ни предотвратить.</p>

    <p>Доставка осуществляется: курьерской службой, Почтой России, транспортной компанией или в пункт выдачи товаров.</p>

    <p>В зависимости от стоимости заказа и объемного веса доставка может быть платной или бесплатной. Стоимость доставки
    рассчитывается индивидуально при оформлении заказа.</p>

    <p>7.2. Потребитель вправе оплатить Товар и его доставку наличными деньгами или осуществить предоплату Товара путем
    безналичных расчетов. Оплата наличными осуществляется Покупателем в момент получения Товара. Оплата безналичным
    расчетом производится согласно оформленному счёту в течение трёх банковских дней. После поступления денежных средств
    на счет Продавца, менеджер интернет -магазина согласовывает с Покупателем срок доставки. При безналичной форме
    оплаты обязанность Покупателя по уплате цены товара считается исполненной с момента зачисления соответствующих
    денежных средств на расчетный счет, указанный Продавцом. Оплата производится в российских рублях.</p>

    <p>7.3. В случае аннулирования оплаченного Заказа, сумма предоплаты полностью возвращается Продавцом Покупателю
    согласно «Правилам продажи товаров дистанционным способом».</p>

    <p>7.4. В момент доставки Покупатель должен внимательно осмотреть товар в присутствии курьера, убедиться в отсутствии
    видимых механических и иных внешних повреждений, и в том, что товар полностью соответствует заказанному через
    интернет-магазин (модель, цвет, комплектация, количество). Цветовые оттенки товара могут незначительно отличаться от
    представленных на фотографии на сайте из-за различий в настройках мониторов. Это не является недостатком товара.
    Претензии по внешнему виду и иным недостаткам товара, которые могли быть обнаружены при обычном способе его приемки,
    Покупатель вправе предъявлять только до момента передачи товара. При нарушении целостности упаковки, обнаружении
    вмятин и других повреждений не принимать Товар, потребовать от работников службы доставки составления акта о
    возврате и отказаться от получения Товара, после чего сообщить о сложившейся ситуации оператору Интернет-магазина.
    При обнаружении брака или повреждения Продавец обменяет бракованный товар на товар надлежащего качества. После
    приёма заказа Покупателем Продавец не несёт ответственности за комплектацию и целостность поставленного товара. Риск
    утраты или повреждения товара переходит Покупателю в момент передачи товара.</p>

    <p>7.5. При доставке Почтой: При получении посылки Покупатель должен внимательно осмотреть ее упаковку на предмет
    целостности и отсутствия внешних повреждений. При нарушении целостности упаковки, обнаружении вмятин и других
    повреждений не принимать посылку, потребовать от работников службы доставки составления акта о возврате и отправки
    заказа по обратному адресу, после чего сообщить о сложившейся ситуации оператору Интернет-магазина.</p>

    <p>7.6. При отсутствии каких-либо претензий, Покупателю необходимо оплатить товар, получить от курьера сопроводительные
    документы на товар и подписать необходимые документы. Данная подпись служит подтверждением того, что Покупатель не
    имеет претензий к комплектации заказа, к количеству и внешнему виду Товара.</p>

    <p>7.7. Общее время приема-передачи товара не должно превышать 15 минут.</p>

    <p>7.8. Курьеры не уполномочены давать Покупателю какие-либо консультации, советы и рекомендации, осуществлять сборку
    товара или выполнять иные действия, которые не были оговорены заранее. Продавец не несет никакой ответственности,
    если такие действия, советы или рекомендации повлекут за собой какие-либо негативные последствия или убытки.</p>

    <p>7.9. Доставка товара Транспортной компанией:</p>

    <p>7.9.1 Право собственности и риск случайной гибели, утраты или повреждения товара переходит с Продавца на Покупателя
    или Перевозчика (в соответствии с заключенным между Покупателем и Перевозчиком договором) с момента передачи товара
    Перевозчику в месте исполнения договора при подписании Сторонами акта приёма товара (товарной накладной и/или
    транспортной накладной и/или товарно-транспортной накладной).</p>

    <p>7.9.2 Обязательство по передачи товара Покупателю, считается исполненным с момента передачи товара Перевозчику</p>

    <p>7.9.3 Стоимость доставки товара в рамках каждого заказа рассчитывается исходя из веса и объема всех заказанных
    товаров, адреса доставки заказа, расценок перевозчика и оплачивается Покупателем самостоятельно.</p>

    <h3 class="my-4">8. Порядок возврата товара</h3>

    <p>8.1. Возврат и обмен товара производятся в соответствии с Постановлением от 27 сентября 2007 года «Об утверждении
    правил продажи товаров дистанционным способом», а также «Законом о защите прав потребителей».</p>

    <p>8.2. Возврат товаров надлежащего качества</p>

    <p>8.2.1. Покупатель вправе отказаться от товара в любой момент до его предачи, а после передачи товара – в течение 7
    дней. Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид и потребительские
    свойства, упаковка, пломбы и ярлыки.</p>

    <p>8.2.2 Товары надлежащего качества из Перечня, утверждённого постановлением Правительства РФ от 19 января 1998 г. N
    55 (см. перечень), возврату не подлежат</p>

    <p>8.2.3. При возврате товара надлежащего качества Покупателю возвращается стоимость товара. Стоимость доставки и
    обратной пересылки Покупателю не компенсируется. При частичном возврате стоимость доставки заказа Покупателю не
    возвращается.</p>

    <p>8.3. Возврат товаров ненадлежащего качества</p>

    <p>8.3.1. Под товаром ненадлежащего качества подразумевается товар, не способный обеспечить свои функциональные
    качества из-за существенного недостатка.В ситуации, когда товар был передан с нарушением условий договора,
    касающихся количества, ассортимента, качества, комплектности, тары и (или) упаковки товара, претензии принимаются не
    позднее 20 дней после получения товара (Согласно Правилам продажи товаров дистанционным способом от 27 сентября 2007
    г.).</p>

    <p>8.3.2. При возврате товара ненадлежащего качества покупателю возвращается стоимость товара, доставки и обратной
    пересылки. При частичном возврате стоимость доставки заказа покупателю не возвращается.</p>

    <p>8.3.3. Наличие брака в электробытовых, радиоэлектронных товарах, электронных игрушках и радио- и видеонянях
    устанавливается только уполномоченными гарантийными сервисами.</p>

    <p>8.4. Возврат денежных средств осуществляется в соответствии с «Правилами продажи товаров дистанционным способом»</p>

    <p>8.5.Требования о возврате уплаченной за товар денежной суммы подлежат удовлетворению на основании заявления
    Покупателя в течение 10 дней со дня предъявления соответствующего требования, поступления возврата товара на склад
    Продавца.. Требование о возврате денежных средств или обмене товара Покупателю необходимо подавать в форме обратной
    связи, размещенной на сайте gappo-kzn.ru. Единственным исключением из этого правила является ситуация, в которой
    продавец немедленно удовлетворяет заявленное Покупателем требование.</p>

    <p>8.6. Правила оформления возврата или обмена товаров размещены на сайте Интернет-магазина gappo-kzn.ru в разделе
    «Гарантии возврата».</p>

    <h3 class="my-4">10. Форс-мажор</h3>
    <p>Любая из Сторон освобождается от ответственности за полное или частичное неисполнение своих обязательств по
    настоящему Договору, если это неисполнение было вызвано обстоятельствами непреодолимой силы, возникшими после
    подписания настоящего Договора. «Обстоятельства Непреодолимой Силы» означают чрезвычайные события или
    обстоятельства, которые такая Сторона не могла предвидеть или предотвратить доступными ей средствами. Такие
    чрезвычайные события или обстоятельства включают в себя, в частности: забастовки, наводнения, пожары, землетрясения
    и иные стихийные бедствия, войны, военные действия, действия российских или иностранных государственных органов, а
    также любые иные обстоятельства, выходящие за пределы разумного контроля любой из Сторон. Изменения действующего
    законодательства или нормативных актов, прямо или косвенно влияющие на какую-либо из Сторон, не рассматриваются как
    Обстоятельства непреодолимой силы, однако, в случае внесения таких изменений, которые не позволяют любой из Сторон
    исполнить какие-либо из ее обязательств по настоящему Договору, Стороны обязаны незамедлительно принять решение
    относительно порядка работы по устранению этой проблемы с тем, чтобы обеспечить Сторонам продолжение исполнения
    настоящего Договора.</p>

    <p>Права и обязанности сторон</p>
    <p>Продавец обязуется</p>

    <p>1) Соблюдать условия настоящего договора</p>

    <p>2) Передать Покупатель оплаченный товар в соответствии с оформленным заказом и условиями настоящего договора</p>

    <p>Продавец оставляет за собой право невыполнения обязательств по Договору в случае возникновения обстоятельств
    непреодолимой силы, указанных в п.9 настоящего Договора.</p>

    <p>2) Обрабатывать персональные данные Покупателя и обеспечивать их конфиденциальность в порядке, установленном
    действующим законодательством.</p>

    <p>Продавец имеет право</p>

    <p>Изменять настоящий Договор, Цены на Товар и Тарифы на сопутствующие услуги, способы и сроки оплаты и доставки товара
    в одностороннем порядке, помещая их на страницах интернет-магазина, расположенного по интернет-адресу:
    http://www.gappo-kzn.ru. Все изменения вступают в силу немедленно после публикации, и считаются доведенными до
    сведения Покупателя с момента такой публикации.</p>

    <p>Расширять и сокращать товарное предложение в интернет-магазине, регулировать доступ к покупке любых товаров, а также
    приостанавливать или прекращать продажу любых товаров по своему собственному усмотрению.</p>

    <p>Осуществлять записи телефонных переговоров с Покупателем. В соответствии с п. 4 ст. 16 Федерального закона «Об
    информации, информационных технологиях и о защите информации» Продавец обязуется: предотвращать попытки
    несанкционированного доступа к информации и/или передачу ее лицам, не имеющим непосредственного отношения к
    исполнению Заказов; своевременно обнаруживать и пресекать такие факты.</p>

    <p>4) Без согласования с Покупателем, передавать свои права и обязанности по исполнению Договора третьим лицам.</p>

    <p>5) Перед поставкой заказанного Клиентом товара Продавец имеет право потребовать от Клиента 100 % предоплаты
    заказанного товара. Продавец имеет право отказать Клиенту в доставке товара при отсутствии такой оплаты.</p>

    <p>6) Продавец имеет право установить Покупателю ограничения на резервирование Товара.</p>

    <p>7) Продавец оставляет за собой право на изменения незначительных элементов дизайна товара, которые не приводят к
    ухудшению работоспособности товара.</p>

    <p>8) Использовать технологию «cookies». «Cookies» не содержат конфиденциальную информацию и не передаются третьим
    лицам.</p>

    <p>9) Получать информацию об ip — адресе посетителя Сайта gappo-kzn.ru. Данная информация не используется для
    установления личности посетителя и передачу третьим лицам не подлежит.</p>

    <p>10) Продавец вправе направлять Покупателю сообщения рекламно-информационного характера посредством e-mail и
    sms-рассылок с информацией о скидках, акциях, новых поступлениях и т.п. Частота рассылок определяется Продавцом
    самостоятельно, в одностороннем порядке.</p>

    <p>Покупатель обязан</p>

    <p>1) До момента заключения Договора ознакомиться с содержанием и условиями Договора, ценами на Товар, предлагаемыми
    Продавцом в интернет-магазине.</p>

    <p>2) Сообщить Продавцу все необходимые данные, однозначно идентифицирующие его как покупателя, и достаточные для
    доставки Покупателю оплаченного им Товара.</p>

    <p>3) Оплатить заказанный Товар и его доставку на условиях настоящего договора.</p>

    <p>4) В момент получения Товара внимательно его осмотреть в присутствии курьера и убедиться, что товар полностью
    соответствует заказанному (модель, цвет, комплектация, количество) и механические и иные внешние повреждения товара
    отсутствуют.</p>

    <p>Покупатель имеет право</p>

    <p>1) Отказаться от получения e-mail и sms-рассылок, для этого ему нужно зайти на страницу «Подписки» в Личном
    кабинете.</p>

    <p>2) Осуществлять возврат полученного товара в соответствии с пунктом 8 настоящего договора.</p>

    <p>3) Выбирать удобный ему способ доставки и способ оплаты Товара.</p>

    <h3 class="my-4">11. Ответственность сторон</h3>
    <p>11.1. Продавец не несет ответственности, не может выступать в качестве ответчика в суде и не возмещает убытки,
    возникшие у Покупателя из-за действий или бездействия третьих лиц.</p>

    <p>11.2.В случае форс-мажорных обстоятельств, документально подтвержденных соответствующими органами, стороны
    освобождаются от ответственности за неисполнение настоящего договора.</p>

    <p>11.3. Стороны прилагают максимальные усилия с целью устранения возникающих разногласий исключительно путем
    переговоров. В противном случае споры разрешаются в судебном порядке, в соответствии с законодательством Российской
    Федерации.</p>

    <h3 class="my-4">12. Срок действия настоящего договора.</h3>

    <p>Настоящий договор вступает в силу с даты оформления заказа и действует до выполнения Сторонами всех условий.</p>

    <h3 class="my-4">Отзыв оферты</h3>
    <p>Отзыв оферты (Договора) может быть осуществлён Продавцом в любое время, но это не является основанием для отказа от
    обязательств Продавца по уже заключённым договорам. Продавец обязуется разместить уведомление об отзыве оферты, в
    своем интернет-магазине, с указанием точного времени (4-й часовой пояс (Москва)) отзыва оферты, не менее чем за 12
    часов до факта наступления события отзыва (приостановки) действия Оферты.</p>
</div>
{% endblock main %}