{% extends 'base.html' %}

{% block title %}Условия возврата | Camelia Flowers{% endblock title %}

{% block main %}
<div class="container py-5" style="margin-top: 108px;">
    <h1 class="pb-4">Условия возврата</h1>
    <ol>
        <li class="py-3">
            Покупатель вправе отказаться от заказанного товара в любое время до его получения, а после получения товара
            – в течение 7 (семи) календарных дней с даты получения товара, при условии, если сохранены его товарный вид,
            потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара. При
            этом Покупатель обязан вернуть товар в пункт выдачи товара Продавца за свой счет. Продавец возвращает
            Покупателю стоимость оплаченного товара, за вычетом стоимости доставки товара, в течение десяти дней со дня
            предъявления Покупателем соответствующего требования. Согласно п. 1 ст. 25 Закона РФ «Защите прав
            потребителей» от 07.02.1992 № 2300-1 (<a class="text-dark" style="text-decoration: underline;"
                href="http://www.consultant.ru/popular/consumerism/">http://www.consultant.ru/popular/consumerism/</a>)
            невозможен возврат
            товара, бывшего в употреблении. При отказе Покупателя от заказанного Товара Продавец удерживает из суммы,
            уплаченной Покупателем за Товар в соответствии с договором, расходы Продавца на доставку от Покупателя
            возвращённого товара.
        </li>
        <li class="py-3">
            Покупатель не вправе возвратить товары надлежащего качества, указанные в Перечне непродовольственных товаров
            надлежащего качества, не подлежащих возврату или обмену, утвержденном Постановлением Правительства РФ от
            19.01.1998 № 55.
        </li>
        <li class="py-3">
            Обмен и возврат товара производится на основании Заявления, заполненного и подписанного Покупателем.
        </li>
        <li class="pt-3">
            При возврате Покупателем товара надлежащего качества составляются накладная или акт о возврате товара, в
            котором указываются:
            <ul class="pt-2">
                <li class="py-2">
                    полное фирменное наименование (наименование) Продавца
                </li>
                <li class="py-2">
                    фамилия, имя, отчество Покупателя
                </li>
                <li class="py-2">
                    наименование товара
                </li>
                <li class="py-2">
                    даты заключения договора и передачи товара
                </li>
                <li class="py-2">
                    сумма, подлежащая возврату
                </li>
                <li class="py-2">
                    подписи продавца и покупателя
                </li>
            </ul>
        </li>
    </ol>
</div>
{% endblock main %}