html,
body,
#app {
  height: 100%;
}

*:focus {
  outline: none !important;
}

@import './icons.scss';

$primary: #800000;

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.btn {
  border-radius: 8px;

  &.disabled {
    cursor: default;
  }
  &-primary {
    &:not(:disabled):not(.disabled) {
      border: $primary 2px solid;
      border-radius: 8px;
      box-shadow: none;

      &:hover {
        color: $primary;
        background-color: white;
        border: $primary 2px solid;
      }
    }
  }
  &-secondary {
    &:not(:disabled):not(.disabled) {
      border: $secondary 2px solid;
      border-radius: 8px;
      box-shadow: none;

      &:hover {
        color: $secondary;
        background-color: white;
        border: $secondary 2px solid;
      }
    }
  }
}