<!DOCTYPE html>
<html lang="ru-ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}

        {% endblock title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container">
            <div class="navbar-brand flex-column">
                <a class="navbar-brand" href="#">
                    <h3>Camelia Flowers</h3>
                </a>
                <hr class="my-0">
                <small class="font-italic d-inline-block d-lg-none">
                    <a href="#"><i class="fa fa-facebook text-primary"></i></a>&nbsp;&nbsp;&nbsp;
                    <a href="#"><i class="fa fa-instagram text-danger"></i></a>&nbsp;&nbsp;&nbsp;
                    <a href="#"><i class="fa fa-vk text-info"></i></a>&nbsp;&nbsp;&nbsp;
                    <a href="#"><i class="fa fa-whatsapp text-success"></i></a>&nbsp;&nbsp;&nbsp;
                    <a href="#"><i class="fa fa-phone text-dark"></i></a>&nbsp;&nbsp;&nbsp;
                    <a href="#"><i class="fa fa-envelope text-dark"></i></a>&nbsp;&nbsp;&nbsp;
                </small>
                <small class="font-italic d-none d-lg-inline-block">Творить может каждый!</small>
            </div>

            <button class="navbar-toggler navbar-toggler-right align-self-center border-0" type="button"
                data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-column ml-lg-0 ml-3 mt-1 mt-lg-0" id="navbarCollapse">
                <div class="flex-column ml-auto">
                    <ul class="navbar-nav flex-row d-none d-lg-flex mb-lg-2">
                        <li class="nav-item">
                            <a class="nav-link py-1 pr-3" href="#"><i class="fa fa-facebook text-primary"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-1 pr-3" href="#"><i class="fa fa-instagram text-danger"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-1 pr-3" href="#"><i class="fa fa-vk text-info"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-1 pr-3" href="#"><i class="fa fa-whatsapp text-success"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-1 pr-3" href="#">shop@camelia-flowers.ru</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-1 pr-3" href="#">+7 905 025-34-85</a>
                        </li>
                        <li class="nav-item disabled">
                            <a class="nav-link py-1 pr-3" href="#">Пн-Пт 8.00-17.00</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav justify-content-around mt-lg-2">
                        <li class="nav-item {% block shop_active %}{% endblock shop_active %}">
                            <a class="nav-link font-weight-bolder text-uppercase" href="#">Магазин</a>
                        </li>
                        <li class="nav-item {% block cart_active %}{% endblock cart_active %}">
                            <a class="nav-link font-weight-bolder text-uppercase" href="#">Корзина</a>
                        </li>
                        <li class="nav-item {% block order_active %}{% endblock order_active %}">
                            <a class="nav-link font-weight-bolder text-uppercase" href="#">Оформление заказа</a>
                        </li>
                        <li class="nav-item {% block cabinet_active %}{% endblock cabinet_active %}">
                            <a class="nav-link font-weight-bolder text-uppercase" href="#">Личный кабинет</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container py-4">
        {% block main %}
        
        {% endblock main %}
    </div>
</body>

</html>