{% extends 'base.html' %}

{% block title %}Корзина | Camelia Flowers{% endblock title %}

{% block cart_active %}active{% endblock cart_active %}

{% block main %}
<div class="container py-4" style="margin-top: 108px;">
    <h2>Корзина</h2>

    <div class="table-responsive my-4">
        <table class="table table-hover">
            <thead class="text-muted">
                <tr>
                    <th scope="col">Товар</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Кол&#8209;во</th>
                    <th scope="col">Сумма</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Camelia Flowers Soft 100g</th>
                    <td>300,00₽</td>
                    <td>0</td>
                    <td>300,00₽</td>
                    <td><i class="fa fa-trash text-danger"></i></td>
                </tr>
                <tr>
                    <th>Camelia Flowers Soft 100g</th>
                    <td>300,00₽</td>
                    <td>0</td>
                    <td>300,00₽</td>
                    <td><i class="fa fa-trash text-danger"></i></td>
                </tr>
                <tr>
                    <th>Camelia Flowers Soft 100g</th>
                    <td>300,00₽</td>
                    <td>0</td>
                    <td>300,00₽</td>
                    <td><i class="fa fa-trash text-danger"></i></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="d-flex align-items-end flex-column">
        <div class="card table-responsive border-0" style="max-width: 532px;">
            <div class="card-body">
                <h2 class="card-title">Сумма заказов</h2>
                <table class="table my-3">
                    <tbody>
                        <tr class="">
                            <th scope="row"><span class="text-uppercase">Подытог</span></th>
                            <td data-title="Подытог">650₽</td>
                        </tr>
                        <tr class="">
                            <th scope="row"><span class="text-uppercase">Доставка</span></th>
                            <td data-title="Доставка">
                                Стоимость доставки будет подсчитана во время оформления покупки.
                            </td>
                        </tr>
                        <tr class="">
                            <th scope="row"><span class="text-uppercase">Итого</span></th>
                            <td data-title="Итого"><strong>650₽</strong></td>
                        </tr>
                    </tbody>
                </table>
                <a href="#" class="btn btn-primary">Оформить заказ</a>
            </div>
        </div>
    </div>
</div>
{% endblock main %}